# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
design/active-states-step-2.jpg
design/active-states-step-1.jpg
design/active-states-step-3.jpg
design/active-states-step-4.jpg
design/desktop-design-step-1.jpg
design/desktop-design-step-2-monthly.jpg
design/desktop-design-step-2-yearly.jpg
design/desktop-design-step-3-monthly.jpg
design/desktop-design-step-3-yearly.jpg
design/desktop-design-step-4-monthly.jpg
design/desktop-design-step-4-yearly.jpg
design/desktop-design-step-5.jpg
design/desktop-preview.jpg
design/mobile-design-step-1.jpg
design/mobile-design-step-2-monthly.jpg
design/mobile-design-step-2-yearly.jpg
design/mobile-design-step-3-monthly.jpg
design/mobile-design-step-3-yearly.jpg
design/mobile-design-step-4-monthly.jpg
design/mobile-design-step-4-yearly.jpg
design/mobile-design-step-5.jpg
scss/_fonts.scss
scss/_index.scss
scss/_reset.scss
scss/_variables.scss
main.css.map
main.scss
desktop.ini
.gitignore
style-guide.md
